@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./Noto_Sans/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./Noto_Sans/NotoSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./Noto_Sans/NotoSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./Noto_Sans/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Press Start 2p';
  font-style: normal;
  font-weight: 400;
  src: url('./PressStart2P/PressStart2P-Regular.ttf') format('truetype');
}
